*{
	padding: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

nav{
	position: relative !important;
	position: sticky !important;
	z-index: 10000 !important;
	top: 0 !important;
	opacity: 0.7 !important;
}

#landing-page{
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
}

textarea{
	height: 200px !important;
	resize: none;
}

#carouselControls{
	position: relative;
	top: 10%;
}